<div id="cardScreenHeigth" class="card-screen-heigth flex flex-column justify-content-center align-items-center">
  <div class="col-12 md:col-{{widthMainColumn}}">
    <div id="content" class="p-3">
            <img class="w-full" src="assets/img/pixeled/logosUIODM_QR_.png" [style.max-height] = "logoAlcaldiaMaxHeightCalculated + 'px'">

            <div id="materialReciclableCarousel">
              <app-material-reciclable-carousel [numVisibleItemsRecyclables]="numVisibleItemsRecyclables"
                                                [marginTopBorderTop]="marginTopBorderTop"
                                                [textSizeTitleCarousel]="textSizeTitleCarousel">
              </app-material-reciclable-carousel>
            </div>

            <div class="flex justify-content-center mt-{{marginTopButtonQuieroReciclar}}">
              <p-button styleClass="ngx-emgirs-dark-blue" size="{{sizeButtonQuieroReciclar}}" label="¡Quiero reciclar!"></p-button>
            </div>
      </div>
  </div>
</div>
