<div id="cardScreenHeigth" class="card-screen-heigth flex flex-column justify-content-center align-items-center">
  <div class="col-12 md:col-12">
      <div id="contentAll" class="p-3">
        <div class="relative">
            <img class="w-full" src="assets/img/pixeled/QuitoDM_1.png" [style.max-height] = "logoAlcaldiaMaxHeightCalculated + 'px'">
            <img class="flex absolute w-6rem h-6rem" style="bottom: -3.3rem; right: 1.5rem;"
                 src="assets/img/pixeled/quitorecicla2-fixed.png">
        </div>

            <div id="materialReciclableCarousel">
              <app-material-reciclable-carousel ></app-material-reciclable-carousel>
            </div>

<!--            <div class="flex justify-content-center mt-6">-->
            <div class="flex justify-content-center">
<!--              <p-button styleClass="ngx-emgirs-dark-blue" size="large" label="¡Quiero reciclar!"></p-button>-->
                <p-button styleClass="ngx-emgirs-dark-blue" size="small" label="¡Quiero reciclar!"></p-button>
            </div>

      </div>
  </div>
</div>
