<div class="">
<!--  <span class="text-white border-round font-semibold p-1 white-space-nowrap ngx-emgirs-dark-blue" >-->
<!--        ¿Cuáles son los residuos sólidos reciclables?-->
<!--  </span>-->
  <p-carousel [value]="products" [numVisible]="2" [autoplayInterval]="3000" [numScroll]="2" [showIndicators]="true"
              [showNavigators]="false">
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div >
            <img src="./assets/img/pixeled/{{product.image}}" [alt]="product.name" class="product-image" />
          </div>
          <div>
            <h4 class="">{{ product.name }}</h4>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
