<p-dialog [modal]="true" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Lugar no disponible</span>
  </ng-template>
  <p>
    No existe información registrada para {{siteNoAvailable}}.
  </p>


  <ng-template pTemplate="footer">
    <div class="flex justify-content-center mt-4">
        <button pButton label="Ok" (click)="visible = false" class="p-button m-1 ngx-emgirs-dark-blue" ></button>
    </div>
  </ng-template>

</p-dialog>

<div *ngIf="!searchBoxLoaded" class="flex p-fluid m-0 col-8 md:col-3" id="searchBox">
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" id="address" class="p-inputtext" placeholder="Ingrese un lugar">
  </span>
</div>

<google-map *ngIf="mapLoaded" class="flex justify-content-center" (tiltChanged)="addElementsOnMap()" [height]="heighInitial"
            width="100%" [options]="mapOptions">
  <p-toast [life]="10000" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <div *ngIf="!divSearchPRLoeaded" id="divSearchPR" class="m-2" >
    <p-button icon="pi pi-map-marker" styleClass="ngx-emgirs-light-blue"></p-button>
  </div>

  <!--  <map-marker id="laDeliciaMarkers" *ngFor="let position of laDeliciaMarkers" #marker="mapMarker" [position]="position"-->
<!--              (mapClick)="openInfoWindow(marker, position.label)">-->
<!--  </map-marker>-->

<!--  <map-marker id="eloyAlfatoMarkers" *ngFor="let position of eloyAlfatoMarkers" #marker="mapMarker" [position]="position"-->
<!--              (mapClick)="openInfoWindow(marker, position.label)">-->
<!--  </map-marker>-->

<!--  <map-marker id="manuelitaSaenzMarkers" *ngFor="let position of manuelitaSaenzMarkers" #marker="mapMarker" [position]="position"-->
<!--              (mapClick)="openInfoWindow(marker, position.label)">-->
<!--  </map-marker>-->

<!--  <map-marker id="tumbacoMarkers" *ngFor="let position of tumbacoMarkers" #marker="mapMarker" [position]="position"-->
<!--              (mapClick)="openInfoWindow(marker, position.label)">-->
<!--  </map-marker>-->

  <map-marker #marker *ngFor="let marker of orderMarker" [position]="marker.position" [label]="marker.label" [title]="marker.title"
    [options]="marker.options">
  </map-marker>

  <map-info-window>
    <div class="card">
      <p><b>{{ infoContent }}</b></p>
      <p>Horario de atención: 8am a 12pm - 1pm a 5pm </p>
      <br><br>
      <p-button (click)="showDialog()" label="Recicla a domicilio" icon="pi pi-home" styleClass="ngx-emgirs-dark-blue
      p-button-sm"></p-button>
    </div>
  </map-info-window>
</google-map>
