<p-dialog [modal]="true" [(visible)]="modalSocialLogin" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <app-social-login></app-social-login>
  </ng-template>
</p-dialog>

<div  class="flex h-screen-custom">
  <div  class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
<!--    <img  alt="diamond-layout" class="h-4rem mt-4" src="https://www.primefaces.org/diamond-ng/assets/layout/images/logo-dark.svg">-->
<!--    <img alt="diamond-layout" class="h-8rem" src="./assets/img/pixeled/logo-quitorecicla001.png">-->

    <p class="text-lg text-color-secondary font-semibold"></p>
<!--      <app-quito-eps-carousel></app-quito-eps-carousel>-->

    <div class="flex flex-column align-items-center gap-4">
      <div  class="mb-3">
        <h2 style="color: #1275bb;">Ingresa a tu cuenta</h2>
        <p >¿Olvidaste tu clave? <a  class="text-primary hover:underline cursor-pointer font-medium">Click aquí</a> para resetear. </p>
      </div>

      <div class="p-inputgroup w-22rem">
          <span class="p-inputgroup-addon">
            <i class="pi pi-envelope"></i>
          </span>
        <input type="text" pinputtext="" placeholder="Correo" class="p-inputtext p-component p-element">
      </div>

      <div class="p-inputgroup w-22rem">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <input type="password" pinputtext="" placeholder="Contraseña" class="p-inputtext p-component p-element">
      </div>

      <button  pbutton="" label="INGRESAR" type="button" class="p-element w-22rem p-button p-component ngx-emgirs-light-blue">
        <span class="p-button-label">INGRESAR</span>
      </button>

      <button routerLink="/recycle" pbutton="" label="OMITIR REGISTRO" type="button" class="p-element ngx-emgirs-light-blue-border w-22rem p-button p-component p-button-outlined">
        <span class="p-button-label" style="color: #1275bb;">Saltar registro</span>
      </button>

    </div>

<!--    <p (click)="modalSocialLogin = true;" class="text-lg text-color-secondary font-semibold"><a  class="text-primary hover:underline cursor-pointer font-medium">Ingresar con Redes Sociales</a></p>-->
    <p-button (click)="modalSocialLogin = true;" label="Ingresar con Redes Sociales " [text]="true"></p-button>



  </div>

  <div  class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-image: url('assets/demo/images/auth/bg-login.jpg');">
    <div  class="mt-auto mb-auto">
      <span  class="block text-white text-7xl font-semibold">Access to your <br >Diamond <br >Account </span>
      <span  class="block text-white text-3xl mt-4">Lorem ipsum dolor sit amet, consectetur <br > adipiscing elit. Donec posuere velit nec enim <br > sodales, nec placerat erat tincidunt. </span>
    </div>
    <div  class="flex align-items-center gap-5">
      <span  class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      <i  class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>
      <i  class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>
    </div>
  </div>

<!--  <div  class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-4 py-8 bg-cover bg-norepeat">-->
<!--    <div  class="mt-auto mb-auto">-->
<!--      <div class="grid">-->
<!--        <div class="col-12">-->
<!--          <div class="flex justify-content-center">-->
<!--            <p-card>-->
<!--              <p-table #table [value]="[{}]">-->
<!--                <ng-template pTemplate="body" let-rowData>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      &lt;!&ndash;                          <div>&ndash;&gt;-->
<!--                      <app-quito-eps-carousel></app-quito-eps-carousel>-->
<!--                      &lt;!&ndash;                          </div>&ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </ng-template>-->
<!--              </p-table>-->
<!--              <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4">-->
<!--                <span  class="font-semibold">Síguenos en nuestras redes sociales.</span>-->
<!--                <i  class="pi pi-facebook text-3xl p-1 surface-overlay border-circle cursor-pointer" style="color: #4267B2"></i>-->
<!--                <i  class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer" style="color: #1DA1F2"></i>-->
<!--                <i  class="pi pi-instagram text-3xl p-1 surface-overlay border-circle cursor-pointer" style="color: #D43089"></i>-->
<!--              </div>-->
<!--            </p-card>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;      <div  class="flex align-items-center gap-5">&ndash;&gt;-->
<!--    &lt;!&ndash;        <span  class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>&ndash;&gt;-->
<!--    &lt;!&ndash;        <i  class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>&ndash;&gt;-->
<!--    &lt;!&ndash;        <i  class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  </div>-->

</div>
