<p-toast  [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" class="custom-toast-emgirs" [life]="10000" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-dialog [modal]="true" [(visible)]="modalSocialLogin"  [style.width] = "orientation"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="grid p-fluid">
      <span class="text-1xl font-bold" style="color: #1275bb;">Ingreso con Redes sociales</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <app-social-login></app-social-login>
  </ng-template>
</p-dialog>
<div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
  <div class="flex justify-content-center">
    <app-quito-eps-carousel [imageMaxHeight]="maxHeightCarouselImage"></app-quito-eps-carousel>
  </div>


  <div *ngIf="showRegisterForm" >
    <app-register-form (showRegisterForm)="setShowRegisterForm($event)" ></app-register-form>
  </div>
  <form [formGroup]="formReg" >
    <div *ngIf="!showRegisterForm"  class="flex flex-column align-items-center gap-3" id="formLogin">
      <div  class="mb-0">
        <h2 style="color: #1275bb;">Ingresa a tu cuenta</h2>
        <p>¿No tienes una cuenta? <a (click)="showRegisterForm = true" class="text-primary hover:underline cursor-pointer font-medium">Registrate</a></p>
      </div>




      <div class="p-inputgroup w-18rem">

<!--              <input type="text" value="{{sizeInfoDevice}}" pinputtext="" placeholder="Correo" class="p-inputtext p-component p-element">-->
          <input type="text" pinputtext="" placeholder="Correo" class="p-inputtext p-component p-element">
        <span class="p-inputgroup-addon">
            <i class="pi pi-envelope"></i>
          </span>
      </div>
      <!--    {{'-> wO:' + screenWidthOuter + ' - hO: ' + screenHeightOuter}}<br>-->
      <!--    {{'-> clientWidth:' + clientWidth + ' - offsetWidth: ' + offsetWidth}}<br>-->
      <!--    {{'-> clientHeight:' + clientHeight + ' - offsetHeight: ' + offsetHeight}}<br>-->

<!--      <div class="p-inputgroup w-20rem">-->
<!--          <span class="p-inputgroup-addon">-->
<!--            <i class="pi pi-lock"></i>-->
<!--          </span>-->
<!--        &lt;!&ndash;      <input type="text"&ndash;&gt;-->
<!--        &lt;!&ndash;             value="Pix w: {{screenWidth + ' - ' + screenHeight }}"&ndash;&gt;-->
<!--        &lt;!&ndash;             pinputtext="" placeholder="Contraseña" class="p-inputtext p-component p-element">&ndash;&gt;-->
<!--        <input type="password" formControlName="password" pinputtext="" placeholder="Contraseña" class="p-inputtext p-component p-element">-->
<!--      </div>-->


<!--        <p-password id="password"-->
<!--                    [toggleMask]="true"-->
<!--                    promptLabel="Contraseña" placeholder="Contraseña"-->
<!--                    weakLabel="Débil" goodLabel="Buena" strongLabel="Fuerte"-->
<!--                    styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full">-->
<!--        </p-password>-->


      <p-password id="password"
                  [toggleMask]="true"
                  promptLabel="Contraseña" placeholder="Contraseña"
                  styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full" formControlName="password">
      </p-password>


<!--      <span class="p-input-icon-left w-full">-->
<!--        <i class="pi pi-lock z-2">-->
<!--        </i>-->
<!--        <p-password id="password" placeholder="Password" styleclass="w-full" inputstyleclass="w-full md:w-25rem"-->
<!--                    class="p-element p-password-mask">-->
<!--          <div class="w-full p-password p-component p-inputwrapper p-input-icon-right">-->
<!--            <input pinputtext="" class="p-inputtext p-component p-element w-full md:w-25rem p-password-input"-->
<!--                   type="password" placeholder="Password" style="padding-left: 2.5rem;">-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--            <i class="pi-eye">-->
<!--            </i>-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--          </div>-->
<!--        </p-password>-->
<!--      </span>-->

      <button (click)="onSubmit()"  pbutton="" label="INGRESAR" type="button" class="p-element w-18rem p-button p-component ngx-emgirs-light-blue">
        <span class="p-button-label">INGRESAR</span>
      </button>

<!--      <button routerLink="/recycle" pbutton="" label="Omitir registro" type="button" class="p-element ngx-emgirs-light-blue-border w-20rem p-button p-component p-button-outlined">-->
<!--        <span class="p-button-label" style="color: #1275bb;">Omitir registro</span>-->
<!--      </button>-->

<!--      <p-button (click)="modalSocialLogin = true"  label="Ingresar con Redes Sociales" styleClass="w-20rem" [outlined]="true" severity="secondary"></p-button>-->




    </div>
  </form>

</div>



<!--  <div  class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-image: url('assets/demo/images/auth/bg-login.jpg');">-->
<!--    <div  class="mt-auto mb-auto">-->
<!--      <span  class="block text-white text-7xl font-semibold">Access to your <br >Diamond <br >Account </span>-->
<!--      <span  class="block text-white text-3xl mt-4">Lorem ipsum dolor sit amet, consectetur <br > adipiscing elit. Donec posuere velit nec enim <br > sodales, nec placerat erat tincidunt. </span>-->
<!--    </div>-->
<!--    <div  class="flex align-items-center gap-5">-->
<!--      <span  class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
<!--      <i  class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>-->
<!--      <i  class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>-->
<!--    </div>-->
<!--  </div>-->
