<div _nghost-ccs-c42="" class="ng-star-inserted">
  <div _ngcontent-ccs-c42="" class="flex h-screen">
    <div _ngcontent-ccs-c42="" class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
      <img _ngcontent-ccs-c42="" alt="diamond-layout" class="h-4rem mt-4" src="https://www.primefaces.org/diamond-ng/assets/layout/images/logo-dark.svg">
      <div _ngcontent-ccs-c42="" class="flex flex-column align-items-center gap-4">
        <div _ngcontent-ccs-c42="" class="mb-3">
          <h2 _ngcontent-ccs-c42="">Login to your account</h2>
          <p _ngcontent-ccs-c42="">Forgot password? <a _ngcontent-ccs-c42="" class="text-primary hover:underline cursor-pointer font-medium">Click here</a> to reset. </p>
        </div>
        <input _ngcontent-ccs-c42="" pinputtext="" id="email" placeholder="Email" class="p-inputtext p-component p-element w-20rem">
        <p-password _ngcontent-ccs-c42="" id="password" placeholder="Password" inputstyleclass="w-20rem" class="p-element p-inputwrapper ng-tns-c41-96 ng-star-inserted">
          <div class="ng-tns-c41-96 p-password p-component p-inputwrapper">
            <input pinputtext="" class="p-inputtext p-component p-element ng-tns-c41-96 w-20rem p-password-input" type="password" placeholder="Password">
            <!---->
            <!---->
            <!---->
          </div>
        </p-password>
        <button _ngcontent-ccs-c42="" pbutton="" label="CONTINUE" type="button" class="p-element w-20rem p-button p-component">
          <span class="p-button-label">CONTINUE</span>
        </button>
      </div>
      <p _ngcontent-ccs-c42="" class="text-color-secondary font-semibold">A problem? <a _ngcontent-ccs-c42="" class="text-primary hover:underline cursor-pointer font-medium">Click here</a> and let us help you. </p>
    </div>
    <div _ngcontent-ccs-c42="" class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-image: url('https://www.primefaces.org/diamond-ng/assets/demo/images/auth/bg-login.jpg');">
      <div _ngcontent-ccs-c42="" class="mt-auto mb-auto">
        <span _ngcontent-ccs-c42="" class="block text-white text-7xl font-semibold">Access to your <br _ngcontent-ccs-c42="">Diamond <br _ngcontent-ccs-c42="">Account </span>
        <span _ngcontent-ccs-c42="" class="block text-white text-3xl mt-4">Lorem ipsum dolor sit amet, consectetur <br _ngcontent-ccs-c42=""> adipiscing elit. Donec posuere velit nec enim <br _ngcontent-ccs-c42=""> sodales, nec placerat erat tincidunt. </span>
      </div>
      <div _ngcontent-ccs-c42="" class="flex align-items-center gap-5">
        <span _ngcontent-ccs-c42="" class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <i _ngcontent-ccs-c42="" class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>
        <i _ngcontent-ccs-c42="" class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>
      </div>
    </div>
  </div>
</div>
