<p-galleria [value]="products2" [showIndicators]="true" [showThumbnails]="false" [circular]="true"
            [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }"
            [autoPlay]="true">
  <ng-template pTemplate="item" let-item>
<!--    <img src="./assets/img/pixeled/{{item.image}}" class="h-16rem" />-->

<!--    <img src="./assets/img/pixeled/{{item.image}}" style="-->
<!--          border: none !important;-->
<!--          width: auto !important;-->
<!--          max-width:100%;-->
<!--          height:auto;-->
<!--          max-height: 135px !important; /*Height <= 800px and Xsmall, for all except this, dont have max-height -> Height - 517*/-->
<!--          cursor: pointer;" />-->

<!--  <img src="./assets/img/pixeled/{{item.image}}" style="-->
<!--          border: none !important;-->
<!--          width: auto !important;-->
<!--          max-width:100%;-->
<!--          height:auto;-->
<!--          max-height: max-content;-->
<!--          cursor: pointer;" />-->

      <img src="./assets/img/pixeled/{{item.image}}" style="
              border: none !important;
              width: auto !important;
              max-width:100%;
              height:auto;
              cursor: pointer;" [style.max-height] = "imageMaxHeight"
      />
  </ng-template>
</p-galleria>
