<p-galleria [value]="products2" [showIndicators]="true" [showThumbnails]="false" [circular]="true"
            [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }"
            [autoPlay]="true">
  <ng-template pTemplate="item" let-item>
    <img src="./assets/img/pixeled/{{item.image}}" style="width: 100%; display: block;" />
<!--    <img src="./assets/img/pixeled/{{item.image}}" style="-->
<!--          border: none !important;-->
<!--          width: auto !important;-->
<!--          max-width:100%;-->
<!--          height:auto;-->
<!--          max-height: 250px !important;-->
<!--          cursor: pointer;" />-->
  </ng-template>
</p-galleria>
