<p-galleria [value]="products2" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
            [showIndicatorsOnItem]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px',
            'margin-top': '2em'}" [autoPlay]="true" [circular]="true">
<!--  <ng-template pTemplate="item" let-item>-->
<!--      <img src="./assets/img/pixeled/{{item.image}}" style="-->
<!--              border: none !important;-->
<!--              width: auto !important;-->
<!--              max-width:100%;-->
<!--              height:auto;-->
<!--              display: block;-->
<!--              " [style.max-height] = "imageMaxHeight"-->
<!--      />-->
<!--  </ng-template>-->


  <ng-template pTemplate="item" let-item>
    <div class="flex flex-column">
      <img src="./assets/img/pixeled/{{item.image}}" style="-->
              border: none !important;
              width: auto !important;
              max-width:100%;
              "
           [style.max-height] = "300 + 'px'" />
<!--      <img src="./assets/img/pixeled/{{item.image}}" style="width: 100%; display: block;" />-->
    </div>
  </ng-template>

<!--  <ng-template pTemplate="thumbnail" let-item>-->
<!--    <div class="grid grid-nogutter justify-content-center">-->
<!--      <img src="./assets/img/pixeled/{{item.image}}" style="display: block;" />-->
<!--    </div>-->
<!--  </ng-template>-->

</p-galleria>
