<div  class="flex flex-column align-items-center justify-content-between gap-2">

    <button pButton severity="secondary" style="color: #ea4335;" class="p-button p-button-outlined mt-5 w-full"
            type="submit" pTooltip="Ingresar con Gmail">
      <span class="p-button-icon pi pi-google " style="color: #ea4335;" aria-hidden="true"></span>
      <span class="p-button-label" style="color: #ea4335;">Ingresar con Google</span>
    </button>

    <button pButton class="p-button ngx-apple-border mt-3 mb-3 p-button-outlined w-12"
            type="submit" pTooltip="Ingresar con Apple">
      <span class="p-button-icon pi pi-apple " style="color: #a6b1b7;" aria-hidden="true"></span>
      <span class="p-button-label" style="color: #a6b1b7;">Ingresar con Apple</span>
    </button>

    <button pButton class="p-button ngx-facebook-border mb-3 p-button-outlined w-full"
            type="submit" pTooltip="Ingresar con Facebook">
      <span class="p-button-icon pi pi-facebook" style="color: #3b5998;" aria-hidden="true"></span>
      <span class="p-button-label" style="color: #3b5998;">Ingresar con Facebook</span>
    </button>

    <button pButton  style="color: #55acee;" class="p-button mb-3 p-button-outlined w-12"
            type="submit" pTooltip="Ingresar con Facebook">
      <span class="p-button-icon pi pi-twitter" style="color: #55acee;" aria-hidden="true"></span>
      <span class="p-button-label" style="color: #55acee;">Ingresar con Twitter</span>
    </button>

</div>



