/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

html {
  font-size: 14px;
}

//div {
//  height: 100%;
//  background-color: lightgrey;
//  width: 300px;
//  border: 15px solid green;
//  padding: 50px;
//  margin: 20px;
//}

/*Functional body*/
//body {
//  font-family: var(--font-family);
//  font-weight: 400;
//  color: var(--text-color);
//  height: 100%;
//  background: var(--surface-ground);
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

/*Functional body to home3*/
body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  padding: 1.5rem;
  margin: 0;
  min-height: 100%;
  background: var(--surface-ground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*Functional card to home3*/
.card-screen-heigth {
  background: var(--surface-card);
  border-radius: 10px;
  height: calc(100dvh - 42px) !important;
}

/*Functional card to home*/
//.card-screen-heigth {
//  background: var(--surface-card);
//  margin-top: 16px;
//  margin-left: 6px;
//  margin-right: 6px;
//  margin-bottom: 16px;
//  border-radius: 10px;
//  //height: calc( var(--windowHeight) - 32 );
//}

body-original {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  //padding: 0; /*Ok to show without scrool*/
  //padding: 1rem; /*Ok Card with padding*/
  padding: 1rem;
  margin: 0;
  //min-height: 100%;
  height: 92.5vh !important;
  //height: 100vh !important;
  //height: 50rem !important;
  //height: 100% !important;
  background: var(--surface-ground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale

  /*Example of web*/
  //margin: 0;
  //min-height: 100%;
  //overflow-x: hidden;
  //overflow-y: auto;
  //background-color: var(--surface-ground);
  //font-weight: 400;
  //color: var(--text-color);
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale
}

//.card {
//  background: var(--surface-card);
//  padding: 2rem;
//  border-radius: 10px;
//  margin-bottom: 1rem;
//}

.card {
  background: var(--surface-card);
  border-radius: 10px;
  height: 100% !important;
}


.p-panel-emgirs-QR {
  &.p-panel
  .p-panel-header {
    //padding: 1.25rem;
    //border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    //border-top: 0 none;
    border-top: 1px solid #dee2e6;
    border-bottom: 0 none;
    display: grid;
    justify-content: center;
  }
  .p-panel-content {
    background: #ffffff;
    color: #495057;
    border-bottom: 0 none;
    justify-content: center;
  }
  .p-panel-footer {
    //padding: 1.25rem;
    background: #ffffff;
    color: #495057;
    border-bottom: 0 none;
  }
}

#grad1 {
  //height: 200px;
  height: 100px;
  width: 100%;
  //background-color: #cccccc;
  background-image: url("assets/img/pixeled/logo-quitorecicla001.png");
}

.hero-image {
  background-image: url("assets/img/pixeled/logo-quitoreciclaoriginal.png");
  //background-color: #cccccc;
  height: 2rem;
  //width: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute !important
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


//.p-panel .p-panel-header {
//}




//p-panel .p-panel-header {
  //background: none !important;
  //border: none !important;
//}

.tooltip .ui-tooltip-text {
    z-index: 9999999;
  }


.p-sidebar{
  //background: rgb(33, 3, 63) !important;
  background-image: url("assets/img/pixeled/FONDO_Mesadetrabajo1.png");
}

.body-element {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  //background-image: url("assets/img/pixeled/FONDO_Mesadetrabajo1.png");
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-login {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//.ngx-ws-bg {
//  &.p-card {
//    border-radius: 1rem;
//    overflow: hidden;
//  }
//
//  .p-card-title {
//  }
//  .p-card-body {
//    padding: 2rem !important;
//    //background: #a6120d;
//    //color: #fff;
//    background-image: url("assets/img/pixeled/FONDO_Mesadetrabajo1.png");
//  }
//}

.work-station-item-QR {
  padding: 2rem !important;
  background-image: url("assets/img/pixeled/FONDO_MesadetrabajoBanner1.png");
}

.p-col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-panel-images {
  width: auto;
  height: inherit;
  object-fit: contain;
  position: relative;
  background-image: url("assets/img/pixeled/FONDO_Mesadetrabajo1.png");
}

.work-station-QR {
  //padding: 2rem !important;
  background-image: url("assets/img/pixeled/FONDO_Mesadetrabajo1.png");

}

.bg-logo-quito-recicla {
  //padding: 2rem !important;
  background-image: url("assets/img/pixeled/logo-quitorecicla001.png");
}


.ngx-emgirs-dark-blue {
  background: #28367f;
  border-color: #28367f;
}

.ngx-emgirs-light-blue {
  background: #1275bb;
  border-color: #1275bb;
}

.ngx-emgirs-sky-blue {
  background: #6ebce9 ;
  border-color: #6ebce9 ;
}

.ngx-emgirs-yellow {
  background: #e8c756;
  border-color: #e8c756;
}

.ngx-emgirs-green {
  background: #76b829;
  border-color: #76b829;
}

.ngx-emgirs-red {
  background: #e52330;
  border-color: #e52330;
}


//.p-divider.p-divider-horizontal {
//  margin: 0rem 0;
//  padding: 0 0rem
//}

.ngx-facebook {
  background: #3b5998;
  border-color: #3b5998;
}

.ngx-facebook-border {
  border-color: #3b5998;
}

.ngx-apple-border {
  border-color: #a6b1b7;
}
.ngx-gmail-border {
  border-color: #ea4335;
}

.ngx-emgirs-light-blue-border {
  border-color: #1275bb;
}


.my-google-map{
  .map-container{
    width: 200px;
    height: 600px;
  }
}

.no-header .ui-panel-titlebar{
  display: none !important;
}

body .p-panel .p-panel-content {
  border-top: 0 none;
}

//.p-card .p-card-title {
//  font-size: 1.5rem;
//  font-weight: 700;
//  //margin-bottom: 0.5rem;
//  //background: #1275bb;
//  //vertical-align: middle !important;
//}

.footer img {
  border: none !important;
  width: auto !important;
  height:auto;
  max-width:100%;
  max-height: 28px !important;
  cursor: pointer;
}


/*--------------------------------------------------------------------------------------------------------------------*/
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}


.central{
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
}

.my-auto2{
  margin-top: auto;
  margin-bottom: auto;
}

.custom-toast-emgirs .p-toast .p-toast-message.p-toast-message-info {
  background: #6ebce9;
  border: solid #28367f;
  border-width: 0 0 0 6px;
  color: #28367f;
}
.custom-toast-emgirs .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #28367f;
}
