<div class="card-screen-heigth flex gap-6 flex-column justify-content-center align-items-center"
     [style.height]="screenHeightCalculated">
<!--<div class="card-screen-heigth flex gap-6 flex-column justify-content-center align-items-center">-->


  <img src="./assets/img/pixeled/logo-alcaldia01_original.png" style="
            border: none !important;
            width: auto !important;
            max-width:100%;
            " [style.max-height] = "maxHeightCalculatedLogoAlcaldia + 'px'" />
    <!--    {{'screenHeight:' + screenHeight + ', offsetHeight: ' + offsetHeight + ', clientHeight: ' + clientHeight + ', content: ' + content}}-->
    <div id="content">
      <app-material-reciclable-carousel ></app-material-reciclable-carousel>
    </div>


    <div class="flex gap-2 justify-content-center align-items-center">
      <img src="./assets/img/pixeled/logo-quitoreciclaoriginal(2).png" style="
              border: none !important;
              width: auto !important;
              max-width:100%;
              "  [style.max-height] = "maxHeightCalculatedLogoQuitoRecicla + 'px'"/>
      <p-button styleClass="ngx-emgirs-light-blue" label="¡Quiero reciclar!"></p-button>
    </div>


</div>
