<div class="flex justify-content-center">
  <p-card [style]="{ width: '360px' }">
    <p-table #table [value]="[{}]">
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>
            <div>
              <app-quito-eps-carousel></app-quito-eps-carousel>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flex justify-content-center flex-wrap gap-3">
              <i class="pi pi-facebook" style="font-size: 2rem; color: #4267B2"></i>
              <i class="pi pi-twitter" style="font-size: 2rem; color: #1DA1F2"></i>
              <i class="pi pi-instagram" style="font-size: 2rem; color: #D43089"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td class="flex justify-content-center flex-wrap gap-3">
            <div>
              <button routerLink="/recycle" pButton label="Ingresar" class="ngx-emgirs-dark-light p-button-rounded p-button-lg"
                      icon="pi pi-sign-in"pTooltip="Aceptar">
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
