<div  class="text-center px-6 py-6 flex flex-column justify-content-between">

  <div  class="flex flex-column align-items-center gap-3" id="formLogin">
    <div class="p-inputgroup w-20rem">
          <span class="p-inputgroup-addon">
            <i class="pi pi-envelope"></i>
          </span>
      <input type="text" pinputtext="" placeholder="Correo" class="p-inputtext p-component p-element">
    </div>
    <div class="p-inputgroup w-20rem">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
      <input type="text" pinputtext="" placeholder="Contraseña" class="p-inputtext p-component p-element">

    </div>
    <button  pbutton="" label="ENVIAR" type="button" class="p-element w-20rem p-button p-component ngx-emgirs-light-blue">
      <span class="p-button-label">ENVIAR</span>
    </button>
  </div>
</div>
